# Python bytecode/caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Flask instance folder
instance/

# Local env files
.env
.env.local

# Operating System files
.DS_Store
Thumbs.db
